<aside>
	<div class="panel radius">
		<h3>Bem-vind@s!</h3>
		<p>
			Acreditamos que conteúdo produzido por mulheres pode inspirar o público feminino para computação, ciência e tecnologia. Agradecemos sua visita e que você tenha uma boa leitura! 
		</p>
	</div>
<!-- BOTAO FACEBOOK -->
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=248906465134803";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

	<div class="fb-page" data-href="https://www.facebook.com/inspiradanacomputacao" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false" data-show-posts="false">
		<div class="fb-xfbml-parse-ignore">
			<blockquote cite="https://www.facebook.com/inspiradanacomputacao">
				<a href="https://www.facebook.com/inspiradanacomputacao">InspirAda na Computação</a>
			</blockquote>
		</div>
	</div>
<!-- FIM BOTAO FACEBOOK -->
<!-- INICIO FORMULARIO BOTAO PAGSEGURO -->
	<form action="https://pagseguro.uol.com.br/checkout/v2/donation.html" method="post">
		<!-- NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
		<input type="hidden" name="currency" value="BRL" />
		<input type="hidden" name="receiverEmail" value="lidianedesouzamonteiro@gmail.com" />
		<input type="image" src="https://p.simg.uol.com.br/out/pagseguro/i/botoes/doacoes/209x48-doar-assina.gif" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
	</form>
<!-- FINAL FORMULARIO BOTAO PAGSEGURO -->
	<img class="b30" src="http://dummyimage.com/303x16:9/B5509C/ffff.png&text=Anuncie%20Aqui" alt="">
	<div class="border-dotted radius b30">
		<img src="http://dummyimage.com/303x16:9/fffffff/0000.png&text=Python Brasil[11]" alt="uh, Placekitten">
		<p class="text-left">Participe da maior conferência de Python <a href="http://pythonbrasil.github.io/pythonbrasil11-site//" target="_blank">Saiba mais aqui!</a></p>
	</div>
	<img class="b30" src="http://dummyimage.com/303x16:9/kdas/ffffff.png&text=Anuncie%20Aqui" alt="">
</aside>
