<aside>
	<div class="panel radius">
		<h3>Sidebar</h3>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
		</p>
	</div>
<!-- INICIO FORMULARIO BOTAO PAGSEGURO -->
	<form action="https://pagseguro.uol.com.br/checkout/v2/donation.html" method="post">
		<!-- NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
		<input type="hidden" name="currency" value="BRL" />
		<input type="hidden" name="receiverEmail" value="lidianedesouzamonteiro@gmail.com" />
		<input type="image" src="https://p.simg.uol.com.br/out/pagseguro/i/botoes/doacoes/209x48-doar-assina.gif" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
	</form>
<!-- FINAL FORMULARIO BOTAO PAGSEGURO -->
  <img class="b30" src="http://dummyimage.com/303x16:9/B5509C/ffff.png&text=Anuncie%20Aqui" alt="">
  <img class="b30" src="http://dummyimage.com/303x16:9/kdas/ffffff.png&text=Anuncie%20Aqui" alt="">

	<div class="border-dotted radius b30">
		<img src="http://dummyimage.com/303x16:9/fffffff/0000.png&text=Evento" alt="uh, Placekitten">
		<p class="text-left">
			This is an advertisment with a crazy cat! <a href="http://placekitten.com/">Inscreva-se aqui!</a>
		</p>
	</div>
</aside>